// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// Material icons
@import '~@mdi/font/css/materialdesignicons.min.css';

$primary: #00818a;
$primary-active: #005a60;
$secondary: #404b69;
$nav-color: #283149;
$secondary_font_color: #eeeeee;
$toolbar_z_index: 1002;
$navigation_z_index: $toolbar_z_index + 2;
$dialog_z_index: $toolbar_z_index + 8;

// mixins
@mixin no-box-shadow-border-radius {
    border-radius: 0!important;
    box-shadow: none!important;
}
@mixin primary-color{
    background: $primary;
    background: -moz-linear-gradient(left, rgba(0,129,138,1) 0%, rgba(0,129,138,1) 60%, rgba(0,90,96,1) 100%)!important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,129,138,1)), color-stop(60%, rgba(0,129,138,1)), color-stop(100%, rgba(0,90,96,1)))!important;
    background: -webkit-linear-gradient(left, rgba(0,129,138,1) 0%, rgba(0,129,138,1) 60%, rgba(0,90,96,1) 100%)!important;
    background: -o-linear-gradient(left, rgba(0,129,138,1) 0%, rgba(0,129,138,1) 60%, rgba(0,90,96,1) 100%)!important;
    background: -ms-linear-gradient(left, rgba(0,129,138,1) 0%, rgba(0,129,138,1) 60%, rgba(0,90,96,1) 100%)!important;
    background: linear-gradient(to right, rgba(0,129,138,1) 0%, rgba(0,129,138,1) 60%, rgba(0,90,96,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00818a', endColorstr='#005a60', GradientType=1 )!important;
}
@mixin primary-color-active {
    color: #fff;
    background-color: $primary-active;
    border-color:  $primary-active;
}

html,body{height: 100%;}

/* login page */
.card-login {
    h4 {margin-top:0.75rem;}
    .card-footer{text-align:center;}
}
 

// sidebar changes
.sidebar {
    background-color: $nav-color!important;
    box-shadow: none;
    color: #eeeeee;
    a p, a span{color: #eeeeee;}
    .nav li:hover>a, .nav li .dropdown-menu a:hover, .nav li .dropdown-menu a:focus, .nav li.active>[data-toggle="collapse"]{
        background-color: $secondary;
        @include no-box-shadow-border-radius;
    }
    .logo a {color: $primary!important;}
    .vue-sidebar .theme--light.v-application, .vue-sidebar .navigation {
        background-color: $nav-color!important;background: $nav-color!important;
    }
    .vue-sidebar .v-application ol, .v-application ul{padding-left:0px!important;}
    .nav-card { height:calc(100vh -75px);}
    .sidebar-wrapper{ overflow-y: hidden;}
    .v-navigation-drawer {width:auto!important;}
}

.sidebar[data-color="green"] li.active>a {
    background-color: $primary;
    @include no-box-shadow-border-radius;
}

// navbar changes
.navbar.bg-dark {
    @extend .sidebar;
    box-shadow: none;
}
//.main-panel .navbar {position: sticky;}
//.main-panel>.content{margin-top: 70px;}
.navbar.navbar-absolute{z-index:1!important;}
// content body changes
// form field
.form-control{
    border: none;
}
// card component
.card {
    @include no-box-shadow-border-radius;
    border: 1px solid rgba(64, 75, 105, .25);
    .card-header{
        @include no-box-shadow-border-radius;
        z-index: 1!important;
    }
}
.card-header-primary{
    @include primary-color;
}
// button component
.btn:not(.btn-round) {
    @include no-box-shadow-border-radius;
}
.btn.btn-primary {
    background: $primary!important;
    background-color: $primary!important;
    border-color: $primary!important;
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover {
    @include primary-color-active;
}
.btn{
    i {margin-right:10px;}
}
// alert component
.alert {
    &.alert-danger, &.alert-warning, &.alert-success, &.alert-info, &.alert-primary, &.alert-rose  {
        @include no-box-shadow-border-radius;
        color: $secondary_font_color;
    }
    &.alert-primary{
        background-color:$primary;
        color: $secondary_font_color;
    }
}
// texts
.text-primary{
    color: $primary!important;
}
// navbar
.navbar.navbar-absolute{
    z-index: 200;
}

// vuetify override
.v-navigation-drawer a:hover, .v-toolbar a:hover {text-decoration:none;}
.v-data-table thead th.data-actions {width: 10%;}
.v-data-table thead th.data-title {width: 30%;}
/** booking data table **/
.v-data-table.booking-data-table thead th:first-child,
.v-data-table.booking-data-table thead th:nth-child(5),
.v-data-table.booking-data-table thead th:nth-child(6),
.v-data-table.booking-data-table thead th:nth-child(7){
    width: 12% !important;
}
.v-data-table.booking-data-table thead th:nth-child(2),
.v-data-table.booking-data-table thead th:nth-child(3),
.v-data-table.booking-data-table thead th:nth-child(4) {
    width: 18% !important;
}